/* line 2, ../sass/main.scss */
.standardpage .bold {
  font-weight: 800;
}
/* line 5, ../sass/main.scss */
.standardpage ul {
  list-style-type: none;
}

/* line 10, ../sass/main.scss */
.header .logo {
  height: 95px;
}
/* line 13, ../sass/main.scss */
.header .slogan {
  font-weight: 600;
  margin-left: 55px;
  margin-top: 40px;
}
/* line 17, ../sass/main.scss */
.header .slogan .slogan1 {
  color: #009bfc;
  margin-top: -15px;
  position: absolute;
}
/* line 22, ../sass/main.scss */
.header .slogan .slogan2 {
  color: #1a398a;
}
/* line 26, ../sass/main.scss */
.header .vl {
  border-left: 2px solid #cccccc;
  height: 55px;
  margin-top: 15px;
  margin-left: 20px;
}
/* line 32, ../sass/main.scss */
.header .navbar-nav {
  right: 55px;
  position: absolute;
}
/* line 36, ../sass/main.scss */
.header .nav-item {
  padding: 50px 30px 0 30px;
}
/* line 39, ../sass/main.scss */
.header .nav-link {
  color: #000 !important;
}

/* line 44, ../sass/main.scss */
.section1 {
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  background: url("/public/images/banner.png") no-repeat center;
  height: 541px;
  background-size: cover;
  color: #fff;
  border-top: 22px solid #001254;
}
/* line 53, ../sass/main.scss */
.section1 h1 {
  font-weight: 800;
}
/* line 56, ../sass/main.scss */
.section1 h2 {
  font-weight: 300;
}
/* line 59, ../sass/main.scss */
.section1 .sec1-desc {
  padding-top: 110px;
}

/* line 64, ../sass/main.scss */
.section2 {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: #ebebeb;
}
/* line 68, ../sass/main.scss */
.section2 .aa {
  padding: 30px;
  background-color: #fff;
  height: 380px;
  box-shadow: -2px -4px #03030317;
}
/* line 73, ../sass/main.scss */
.section2 .aa img {
  width: 285px;
}
/* line 77, ../sass/main.scss */
.section2 .sec2-img1 {
  border-bottom: 12px solid #1450d2;
  color: #1450d2;
}
/* line 81, ../sass/main.scss */
.section2 .sec2-img2 {
  border-bottom: 12px solid #00a49d;
  color: #00a49d;
}
/* line 85, ../sass/main.scss */
.section2 .sec2-img3 {
  border-bottom: 12px solid #019bfb;
  color: #019bfb;
}

/* line 91, ../sass/main.scss */
.section3 {
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  background: url("/public/images/gradients.png") no-repeat center;
  height: 400px;
  background-size: cover;
}
/* line 98, ../sass/main.scss */
.section3 h1,
.section3 h5,
.section3 a {
  color: #fff;
}
/* line 103, ../sass/main.scss */
.section3 h5 {
  font-weight: 300;
  margin-bottom: 60px;
}
/* line 107, ../sass/main.scss */
.section3 #contactUs {
  border: 1px solid #fff;
  padding: 13px 40px;
  text-align: center;
}

/* line 114, ../sass/main.scss */
.section4 {
  background-color: #ebebeb;
  padding-top: 45px;
  padding-bottom: 80px;
}
/* line 119, ../sass/main.scss */
.section4 .aa .sec4-content {
  color: #fff;
  position: absolute;
  top: 85px;
  left: 40px;
}
/* line 124, ../sass/main.scss */
.section4 .aa .sec4-content p {
  font-size: 14px;
}
/* line 128, ../sass/main.scss */
.section4 .aa .sec4-content .getInsight {
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 18px;
  text-align: center;
}
/* line 135, ../sass/main.scss */
.section4 .aa h5 {
  color: #000;
  right: 12px;
  margin-top: -30px;
  position: absolute;
}
/* line 142, ../sass/main.scss */
.section4 img {
  width: 360px;
}

/* line 147, ../sass/main.scss */
.section5 {
  padding: 25px;
  background-color: #707070;
}
/* line 150, ../sass/main.scss */
.section5 p,
.section5 li {
  color: #fff;
}
/* line 154, ../sass/main.scss */
.section5 p:nth-of-type(2) {
  margin-top: -20px;
}
/* line 157, ../sass/main.scss */
.section5 .flex-container {
  display: flex;
  flex-direction: row;
}
/* line 162, ../sass/main.scss */
.section5 .footer ul {
  right: 0;
  float: right;
  position: absolute;
}
/* line 166, ../sass/main.scss */
.section5 .footer ul li {
  display: inline-block;
  padding-right: 18px;
}

@media screen and (max-width: 735px) {
  /* line 175, ../sass/main.scss */
  .slogan,
  .logo,
  .vl {
    display: none;
  }

  /* line 180, ../sass/main.scss */
  .logo-mobile {
    display: block !important;
    margin-left: 60px;
    height: 45px;
  }

  /* line 185, ../sass/main.scss */
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 0;
    border-color: transparent !important;
  }

  /* line 191, ../sass/main.scss */
  .navbar-nav {
    position: relative !important;
    right: 0 !important;
  }

  /* line 195, ../sass/main.scss */
  .nav-item {
    padding: 4px !important;
  }

  /* line 198, ../sass/main.scss */
  a.nav-link {
    background-color: #ebecf0;
    font-size: 13px !important;
    padding: 15px 0;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  /* line 207, ../sass/main.scss */
  .sitelinkMenu {
    display: block !important;
    color: #1e3885;
    font-weight: 500;
    padding-top: 15px;
  }

  /* line 214, ../sass/main.scss */
  .carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  /* line 222, ../sass/main.scss */
  .section1 {
    display: none;
  }

  /* line 225, ../sass/main.scss */
  .section1-mobile {
    display: block !important;
    background-color: #1b9cf8;
    color: #fff;
    padding: 20px;
    height: 515px;
  }
  /* line 231, ../sass/main.scss */
  .section1-mobile .subDesc {
    padding-top: 80px;
  }
  /* line 234, ../sass/main.scss */
  .section1-mobile h5 {
    font-weight: 300;
  }

  /* line 239, ../sass/main.scss */
  .section2 {
    display: none;
  }

  /* line 242, ../sass/main.scss */
  .section2-mobile {
    display: block !important;
    background-color: #001a79;
    color: #fff;
    padding: 20px;
    padding-bottom: 60px;
  }
  /* line 248, ../sass/main.scss */
  .section2-mobile .aa {
    padding: 25px;
    background-color: #fff;
    height: 330px;
  }
  /* line 252, ../sass/main.scss */
  .section2-mobile .aa img {
    width: 220px;
    margin-bottom: 20px;
  }
  /* line 257, ../sass/main.scss */
  .section2-mobile .carousel-indicators {
    bottom: -50px;
  }
  /* line 259, ../sass/main.scss */
  .section2-mobile .carousel-indicators li {
    background-color: #fff;
  }
  /* line 263, ../sass/main.scss */
  .section2-mobile .sec2-img1 {
    border-bottom: 12px solid #1450d2;
    color: #1450d2;
  }
  /* line 267, ../sass/main.scss */
  .section2-mobile .sec2-img2 {
    border-bottom: 12px solid #00a49d;
    color: #00a49d;
  }
  /* line 271, ../sass/main.scss */
  .section2-mobile .sec2-img3 {
    border-bottom: 12px solid #019bfb;
    color: #019bfb;
  }

  /* line 277, ../sass/main.scss */
  .section3 {
    padding-top: 70px !important;
    height: 430px !important;
    padding: 20px;
  }
  /* line 281, ../sass/main.scss */
  .section3 h1 {
    font-size: 35px;
  }
  /* line 284, ../sass/main.scss */
  .section3 h5 {
    font-size: 16px;
  }

  /* line 289, ../sass/main.scss */
  .section4 {
    display: none;
  }

  /* line 292, ../sass/main.scss */
  .section4-mobile {
    display: block !important;
    padding: 20px;
  }
  /* line 295, ../sass/main.scss */
  .section4-mobile h2 {
    color: #001a79 !important;
    font-weight: 400;
  }
  /* line 298, ../sass/main.scss */
  .section4-mobile h2 span {
    font-weight: 800;
  }
  /* line 301, ../sass/main.scss */
  .section4-mobile h2 p {
    color: #b8b8b8;
  }
  /* line 305, ../sass/main.scss */
  .section4-mobile .carousel-indicators {
    bottom: -50px;
  }
  /* line 307, ../sass/main.scss */
  .section4-mobile .carousel-indicators li {
    background-color: #b7b7b7;
  }
  /* line 312, ../sass/main.scss */
  .section4-mobile .aa .sec4-content {
    color: #fff;
    position: absolute;
    top: 85px;
    left: 40px;
  }
  /* line 317, ../sass/main.scss */
  .section4-mobile .aa .sec4-content p {
    font-size: 14px;
  }
  /* line 320, ../sass/main.scss */
  .section4-mobile .aa .sec4-content .getInsight {
    border: 1px solid #fff;
    color: #fff;
    padding: 11px 18px;
    text-align: center;
  }
  /* line 327, ../sass/main.scss */
  .section4-mobile .aa h5 {
    color: #6f6f6f;
    right: 12px;
    margin-top: -35px;
    position: absolute;
  }
  /* line 334, ../sass/main.scss */
  .section4-mobile img {
    width: 360px;
  }
  /* line 337, ../sass/main.scss */
  .section4-mobile .bottomLogo {
    width: auto !important;
    padding-top: 75px;
  }

  /* line 344, ../sass/main.scss */
  .section5 #getState {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* line 349, ../sass/main.scss */
  .section5 {
    display: none;
  }
  /* line 351, ../sass/main.scss */
  .section5 .footer {
    display: block !important;
    height: 180px;
  }
  /* line 353, ../sass/main.scss */
  .section5 .footer ul {
    margin-left: -15px;
    left: 0 !important;
  }
  /* line 357, ../sass/main.scss */
  .section5 .footer li {
    display: block !important;
  }
  /* line 362, ../sass/main.scss */
  .section5 button {
    height: auto !important;
  }

  /* line 366, ../sass/main.scss */
  .section5-mobile {
    display: block !important;
    background-color: #cccccc;
    height: 500px;
    padding-top: 35px;
  }
  /* line 371, ../sass/main.scss */
  .section5-mobile a {
    padding: 13px 40px;
    background-color: #ebecf0;
    color: #6f6f71 !important;
    font-weight: 600;
  }
  /* line 377, ../sass/main.scss */
  .section5-mobile ul {
    margin-left: -37px;
    margin-right: 2px;
  }
  /* line 381, ../sass/main.scss */
  .section5-mobile p {
    color: #1e3885;
  }
  /* line 384, ../sass/main.scss */
  .section5-mobile li {
    padding: 5px;
  }
  /* line 386, ../sass/main.scss */
  .section5-mobile li a {
    background-color: #ebecf0;
    font-size: 13px !important;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 395, ../sass/main.scss */
  .section5-mobile .topFooterMenu {
    color: #6f6f71;
    font-weight: 600;
    font-size: 13px !important;
    text-align: center;
    margin-bottom: 30px;
  }
}
